.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.searchContainer {
  display: flex;

  align-items: center;
}
.search {
  border: 0;
  margin: 0;
}
li {
  list-style: none;
}
.categoryItem {
  color: #64848b;
  padding: 5px;
}
.ratingImg {
  height: 25px;
}
.ratingItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #ffffff;
  margin-bottom: 5px;
}
.clearBtn {
  height: 30px;
  margin-top: 5px;
  border-style: solid;
  border-color: #0967d2;
  color: #0967d2;
  font-weight: bold;
}
.active-category {
  color: #0967d2;
}
.active-rating {
  color: #0967d2;
}
